#card1 {
    background-color: #A15B87;
}

#card2 {
    background-color: #B95539;
}

#card3 {
    background-color: #008C79;
}

#card4 {
    background-color: #008C79;
}

#card5 {
    background-color: #A15B87;
}