/* reality-check.css */
h1 {
  font-size: 40px;
  margin-top: 20vh;
}

.news {
  width: 600px;
  /* Juster bredden efter behov */
  margin: 0 auto;
  /* Centrer formular på siden */
}

label {
  display: block;
  /* Gør labels til blok-elementer for bedre placering */
  margin-bottom: 5px;
  /* Lidt afstand mellem labels */
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  /* Fyld den tilgængelige bredde */
  padding: 10px;
  /* Tilføj en smule padding for bedre udseende */
  margin-bottom: 10px;
  /* Lidt afstand mellem inputfelter */
  border: 1px solid #ccc;
  /* Tilføj en enkel kantlinje */
  border-radius: 5px;
  /* Afrundede kanter */
  margin-bottom: 20px;
}

button {
  background-color: #008C79;
  /* Baggrundsfarve for knappen */
  color: #fff;
  /* Tekstfarve */
  padding: 10px 20px;
  /* Tilpas padding efter behov */
  border: none;
  /* Fjern kantlinje */
  cursor: pointer;
  /* Gør musemarkøren til en hånd, når du svæver over knappen */
  font-weight: bold;
}

button:hover {
  background-color: #008C79;
  /* Ændr baggrundsfarve ved hover */
}

/* Tilføj eventuelt yderligere stilarter efter behov */