body {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

#mode {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20%;
}