/* ---------------------------------------------------------------- login page start ---------------------------------------------------------------- */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

#login-page-container {
  font-family: Arial, sans-serif;
}

#login-page-form,
#register-page-form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #aaa;
}

.login-page-input {
  width: calc(100% - 22px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.login-page-button {
  width: 100%;
  padding: 10px;
  background-color: #008C79;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-page-button:hover {
  background-color: #007061;
}

.login-page-link a {
  text-decoration: none;
  color: #337ab7;
}

.login-page-link a:hover {
  text-decoration: underline;
}

.login-page-hidden {
  display: none;
}

#password-criteria {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

#password-criteria ul {
  list-style: none;
  padding: 0;
}

#password-criteria li {
  margin-bottom: 5px;
  font-size: 0.9em;
}

/* liste til at slette users */

#user-list-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #aaa;
}

#user-list {
  list-style-type: none;
  padding: 0;
}

#user-list li {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-list button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#user-list button:hover {
  background-color: #d32f2f;
}

/* ---------------------------------------------------------------- login page slut ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- dashboard start ---------------------------------------------------------------- */
.dashboard-header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h1 {
  margin: 0;
}

.user-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.user-nav li {
  margin-left: 20px;
}

.user-nav a {
  color: white;
  text-decoration: none;
}

.dashboard-main {
  flex: 1;
  display: flex;
}

.dashboard-sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}

.dashboard-sidebar ul {
  list-style: none;
  padding: 0;
}

.dashboard-sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 0;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

.dashboard-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* ---------------------------------------------------------------- dashboard slut ---------------------------------------------------------------- */